/* ESSE CSS PERTENCE AO main.jsx */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-beige text-brown
  }
}

@layer components {
  .btn-login {
    background: theme('colors.light-beige');
    border-radius: 30px;
    color: #fff;
    padding: 8px;
    width: 70px;
    border: 3px solid theme('colors.brown');

    display: flex;
    justify-content: center;
    align-items: center;

    @apply bg-light-beige text-brown rounded-full h-10 py-6 px-4 outline-none
  }

  .btn-outline {
    background: transparent;
    border-radius: 23px;
    color: theme('colors.brown');
    padding: 10px;
    border: 3px solid theme('colors.brown');

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .counter {
    text-stroke: 8px theme('colors.brown');
    -webkit-text-stroke: 8px theme('colors.brown');
    font-size: 150px;
  }

  .counter-subtitle {
    text-stroke: 3px theme('colors.brown');
    -webkit-text-stroke: 3px theme('colors.brown');
    font-size: 55px;
  }

  .input-home {
    @apply bg-light-beige text-brown rounded-full h-10 py-6 px-4 outline-none
    placeholder:text-brown shadow-xl;
  }

  .checkbox {
    @apply appearance-none accent-brown w-4 h-4 border-2 border-brown rounded
  checked:bg-brown focus:outline-none;
  }

  .checkbox:checked {
    background-image: url('./assets/check.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
  }
}
